@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
   --main-color: #01497C;
    --default-color: #777;
    --text-color: #fff;
    --primary-color: #19a2dd;
    --success: rgba(0, 128, 0, 0.2);
    --success-text: rgb(0, 50, 0);
    --errors: rgba(255, 0, 0, 0.1);
    --errors-text: rgb(50, 0, 0);
    --warnings: rgba(255, 255, 0, 0.2);
    --warnings-text: rgb(50, 50, 0);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: var(--default-color);
}

.logo a {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
}


.nav-bar {
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: auto;
    /*update pegasus-->*/
    align-items: center;
   
}

.nav-bar-link a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    border-radius: .3rem;
    padding: .8rem 1.5rem;
    transition: all .4s;
    margin:.5rem;
}

.nav-bar-link a:hover {
    background-color: rgba(255, 255, 255, 0.178);
}

.nav-bar-link a:visited {
    color: rgba(255, 255, 255, 0.493);
}

.first-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar-link {
    margin: 0 5rem;
}

.search {
    border: none;
    padding: .8rem;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    outline: none;
}

.search:active {
    outline: none;
}

.submit-btn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    margin: 0 1rem 0;
}
/*pegasus fix responsive navbar*/
.toggle-button{
    position: absolute;
    top:.88rem;
    right: 1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:25px;
}
.bar{
    border-bottom: 3px solid white;
}
.toggle-button a{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width : 640px){
    .toggle-button{
        display: flex;
    }
    .second-menu{
        /**/display: none;/**/
        flex-direction: column;
        text-align: center;
    }
    .nav-bar-link{
        /**/display: none;/**/
            width: 100%;
    }
    /* js class*/
    .nav-bar .nav-bar-link.active {
        display:block;
      

    }
    .nav-bar .second-menu.active{
       display: flex;
    }
    .nav-bar{
        flex-direction: column;
    }
    .first-menu {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .nav-bar-link a,.logo{
        display: block;
    }
    .search_box{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .search{
        width:85vw;
    }


}
/*fin*/

.body-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2rem 7vw 1rem  7vw;
}

.recent_post {
    width: 55%;
    margin: 0 auto;
}

.recent_post, .kgb_members {
    border: none;
    box-shadow: 0px 0px 2rem 2px rgba(128, 128, 128, 0.2);
    border-radius: .5rem;
    padding: 1rem 2rem;
}

.kgb_members {
    width: 30%;
}

.kgb_members_header {
    padding: 1rem 0;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user:not(:last-child) {
    border-bottom: .15rem solid rgba(119, 119, 119, 0.2);
}

.header {
    display: flex;
    flex-direction: column;
}
/*
.user-data img {
    width: 5rem;
}
*/
.avatar {
    width: 5rem;
    border-radius: 50%;
}

.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-data_names {
    font-size: 1.5rem;
    margin: .8rem 2rem;
}

.link {
    font-size: small;
}

.link a, p a {
    color: gray;
    text-transform: capitalize;
    transition: all .5s;
    padding: 1rem;
    font-weight: 600;
}

.link a:hover {
    background-color: rgba(128, 128, 128, 0.356);
    padding: 1rem;
    color: black;
    border-radius: 3px;
    text-decoration: none;
}

.username, .fullname {
    margin: .5rem 0;
}

.search_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 5px;
}

.submit-btn {
    color: var(--default-color);
}

.search_box input {
    background-color: transparent;
    border-right: 1px solid var(--default-color);
    border-radius: 0;
}

/* code to remove the x from the search input!!! */

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/**update for fixing recent_diary**/
.recent_post{
    padding:20px;
    position: relative;
}
.notes h2{
    position: relative;
    padding: 5px ;
    background: rgba(158, 158, 158, 0.467);
    border-radius: 4px;
    cursor: pointer;
    margin:5px 0;
    padding-left: 20px;
    font-size: 16px;
    padding-right:35px;
}
.label_post{
    width: 100%;
    text-align: center;
    margin: 3px;
    margin-bottom: 30px;
}
.label_h2{
    word-wrap: break-word;
}
.label_title h2::after{
    content: "+";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size:1.1em;

}
.content{
  position: relative;
  background: var(--text-color);
  height: 0;
  overflow: hidden;
  transform: 0.5s;
  overflow-y: auto;
  transition: all .3s;
}
.notes.active .content {
    transition: all .3s;
    height: fit-content;
    padding:10px;
    font-size: 15px;
    word-wrap: break-word;

}
.notes.active .label_title h2::after{
    content: "-";
    font-size:1.3em;
}
/*fin*/

/***** b3rking - media queries ******/

@media (max-width: 950px) {
    .body-container {
        flex-direction: column;

    }
 
    .user {
        /*pegaus modif*/
        width: 100%;
        margin: 0 .7rem;
        display: flex;
        justify-content: space-between;
       /**/
      
    }

    .kgb_members {
        width: 100%;
        margin: 1.5rem 0;
        display: flex;
/*pegaus update kgb membres to be responsive*/
        flex-direction: row;
        flex-wrap: wrap;
    }
    .body-container{
        margin: 0.5%  0.5%  0.5% 4%;
    }
    .kgb_members_header {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }
    .body-container{
        width: 80%;
    }.kgb_members{
        padding: 20px;
    }
    .baruser{
        width: 100%;
        margin: 5px;
        border-bottom: .0002rem solid var(--default-color);
    }
/*fin*/
    .user:not(:last-child) {
        border-bottom: red;
    }

    .recent_post {
        width: 100%;
    }
}
/** Pegaus03 start at 00:20 06/04/2021**/

body{
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 2000px){
.Post_details{
    max-width: 85rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.diary_interface{
    max-width: 85rem;
    margin: 0 auto;
}
}
@media (max-width: 850px){
    .Post_details{
        max-width: 70rem;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .diary_interface{
        max-width: 70rem;
        margin: 0 auto;
    }
}
@media (max-width:650px){
    .Post_details,.diary_interface{       
        padding: 2.5rem;
        margin: 0 auto;
        flex-direction: column;
    }
    .Post_details img{
        margin-top: 20px;
        transform: translate(6rem,-6rem);
    }
    .post_textes{
        text-align: center;
    }
}
.pega1{

    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
}
.Post_details,.diary_interface{

    background-color: var(--text-color);
    border: none;
    box-shadow: 0px 0px 2rem 2px rgb(128 128 128 / 20%);
    border-radius: .5rem;
    padding:3rem;
    position: relative;
    z-index: 3;
}
.image{
    min-width: 17rem;
    max-width: 20rem;
    height: 25 rem;
    transform: translateX(-6rem);
    position: relative;
}
.post_textes h1,h3{
   display: block;
   font-weight: 600;
   margin: .5rem 0;
}
.post_textes h1{
    text-transform: uppercase;
    color:var(--primary-color);

}
.post_textes strong{
    display: block;
    margin:8px 0;
}
.post_textes a{
    display: inline-block;
    padding: 5px;
    border-radius: .8rem;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: .3rem;
    background-color: var(--primary-color);
    transition: all .4s;
    color: var(--text-color);
    font-weight: 500px;
    width: 100px;
    text-align: center;
}
.post_textes a:hover {
    background-color: rgba(119, 119, 119, 0.2);
    color: hotpink;
    border-right: 20px solid hotpink;
    transition: all .5s;
}
.Post_details img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.post_textes{
 
    justify-content: center;
    flex-wrap: wrap;
}
.diary_interface{
    margin-top: 50px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    padding:16px;
    height: 220px;
}




.title_di{
    border-bottom: 2px solid rgba(119, 119, 119, 0.2);
    padding:5px;
    font-size: 24px;
    text-align: center;
}

.borderf{
    padding:16px;
    border-bottom: 2px solid rgba(119, 119, 119, 0.2);
}



/***** css for form by pegaus03 **/

.pega_form{ 
    margin: 2.5rem auto;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 43rem;
    padding: 3.5rem 3.5rem;
    box-sizing: border-box;
    border: none;
    box-shadow: 0px 0px 2rem 2px rgb(128 128 128 / 20%);
    border-radius: .6rem;  
}
/*update login 25/04/2021 00:21*/
@media (max-width: 950px){
    .pega_form{
        max-width:70%;
        margin:2rem auto ;
    }
}
/**/
.pega_form h1{
    margin: 0 0 30px;
    padding: 0px;
    text-align: center;
}

.pega_form p a {
    color: var(--main-color);
}

.pega_form p{
   margin-top: 2rem;
   text-align: center;
   font-size: 14px;
}
.pega_form img{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50% 50% solid black;
}
.pega_form .inputBox{
    position: relative;
}
.pega_form .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 1.7rem;
    color: var(--default-color);
    margin-bottom:30px ;
    border:none;
    letter-spacing: 1px;
    outline: none;
    background: transparent;
    border-bottom: 1.7px solid rgba(119, 119, 119, 0.2);
}
.pega_form .inputBox label{
    position: absolute;
    font-size: 2rem;
    padding: 10px 0;
    color: var(--default-color);
    pointer-events:none;
    transition: .5s;
}
.inputBox input:focus~label,
.inputBox input:valid~label,
.inputBox input:empty~label {
    top:-20px;
    left:0;
    color: var(--default-color);
    font-size: 12px;
}
.pega_form button{
    margin-top: 15px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 08px 10px;
    margin-left: 6px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: inherit;
    background-color: var(--main-color);
    transition: all .3s;
    font-weight: bold;
}
.pega_form .button_form{
    text-align: center;
}
.pega_form button:hover {
    background-color: rgba(119, 119, 119, 0.2);
    color: var(--main-color);
    border-left: 10px solid var(--main-color);
    transition: all .6s;
}

/** fix modal from account when we modify account pega**/

.modal_bg{
   position: fixed;
   left: 0;
   top:0;
   right: 0;
   left: 0;
   z-index:6;
   background-color: rgba(0, 0, 0, 0.4);
   width: 100%;
   height: 100%;
   display: block;
}

.modal_body{
    top: 5%;
    margin:0 auto;
    width: 380px;
    max-width: 600px;
    position: fixed;
    z-index: 7;
    right: 0;
    left: 0;
    background:var(--text-color);
    border-radius: .5rem;
    box-shadow: 0px 0px 2rem 2px rgba(128, 128, 128, 0.2);
    padding: 15px;
}

@media (max-width: 2000px){
    .modal_body{
        max-width: 85rem;
        margin: 0 auto;
    }
    }
    @media (max-width: 850px){
        .modal_body{
            max-width: 70rem;
            margin: 0 auto;
        }
    }
    @media (max-width:650px){
        .modal_body{       
            margin: 0 auto;
            width: 250px;
            
        }
    }

.modal_header{
    background:var(--main-color);
    padding:2px 2px 2px 10px;
    color: var(--text-color);
    border-radius:5px;
    position: relative;
    margin-bottom: 10px;
}

.modal_x{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2.5rem;
}
.interface{
    padding: 5px;
}

.modal_body .input-box,.interface .input-box{
    position: relative;
}
.modal_body .input-box input,.interface .input-box input{
    width: 100%;
    padding: 3px 0;
    font-size: 1.2rem;
    color: var(--default-color);
    border:none;
    letter-spacing: 1px;
    outline: none;
    margin-bottom: 5px;
    background: transparent;
    border-bottom: 1.7px solid rgba(119, 119, 119, 0.2);
}
.interface .input-box input{
    font-size: 16px;
    margin-bottom: 20px;
}
.modal_body .inputBox label,.interface .inputBox label{
    position: absolute;
    font-size: 1.2rem;
    padding: 5px 0;
    color: var(--default-color);
    pointer-events:none;
    transition: .5s;
}
.interface .inputBox label{
    font-size:16px;
}
.inputBox input:focus~label,
.inputBox input:valid~label,
.inputBox input:empty~label {
    top:-10px;
    left:0;
    color: var(--default-color);
    font-size:13px;
}
.modal_body button,.interface button{
    margin-top: 15px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 08px 10px;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: inherit;
    background-color: var(--main-color);
    transition: all .3s;
    font-weight: bold;
    text-align: center;
}
.interface button{
    width: 200px;
    text-align: center;
}
.modal_body button:hover{
    background-color: rgba(119, 119, 119, 0.2);
    color: var(--main-color);
    border-left: 10px solid var(--main-color);
    transition: all .6s;
}