@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #01497C;
    --default-color: #777;
    --text-color: #fff;
    --primary-color: #19a2dd;
    --success: rgba(0, 128, 0, 0.2);
    --success-text: rgb(0, 50, 0);
    --errors: rgba(255, 0, 0, 0.1);
    --errors-text: rgb(50, 0, 0);
    --warnings: rgba(255, 255, 0, 0.2);
    --warnings-text: rgb(50, 50, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: var(--default-color);
}

.logo a {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
}


.nav-bar {
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.nav-bar-link a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    border-radius: .3rem;
    padding: .8rem 1.5rem;
    transition: all .4s;
}

.nav-bar-link a:hover {
    background-color: rgba(255, 255, 255, 0.178);
}

.nav-bar-link a:visited {
    color: rgba(255, 255, 255, 0.493);
}

.first-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar-link {
    margin: 0 5rem;
}

.search {
    border: none;
    padding: .8rem;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    outline: none;
}

.search:active {
    outline: none;
}

.submit-btn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    margin: 0 1rem 0;
}

.body-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2rem auto 1rem;
}

.recent_post {
    width: 60%;
    margin: 0 auto;
}

.recent_post, .kgb_members {
    border: none;
    box-shadow: 0px 0px 2rem 2px rgba(128, 128, 128, 0.2);
    border-radius: .5rem;
    padding: 1rem 2rem;
}

.kgb_members {
    width: 30%;
}

.kgb_members_header {
    padding: 1rem 0;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user:not(:last-child) {
    border-bottom: .15rem solid rgba(119, 119, 119, 0.2);
}

.header {
    display: flex;
    flex-direction: column;
}

.user-data img {
    width: 5rem;
}

.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-data_names {
    font-size: 1.5rem;
    margin: .8rem 2rem;
}

.link {
    font-size: small;
}

.link a, p a {
    color: gray;
    text-transform: capitalize;
    transition: all .5s;
    padding: 1rem;
    font-weight: 600;
}

.link a:hover {
    background-color: rgba(128, 128, 128, 0.356);
    padding: 1rem;
    color: black;
    border-radius: 3px;
    text-decoration: none;
}

.username, .fullname {
    margin: .5rem 0;
}

.search_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 5px;
}

.submit-btn {
    color: var(--default-color);
}

.search_box input {
    background-color: transparent;
    border-right: 1px solid var(--default-color);
    border-radius: 0;
}

/* code to remove the x from the search input!!! */

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/***** b3rking - media queries ******/

@media (max-width: 950px) {
    .body-container {
        flex-direction: column;
    }

    .user {
        width: 20%;
    }

    .kgb_members {
        width: 100%;
        margin: 0 0 5rem;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
    }

    .link {
        display: none;
    }

    .user:not(:last-child) {
        border-bottom: red;
    }

    .recent_post {
        width: 100%;
    }
}
/** Pegaus03 start at 00:20 06/04/2021**/

body{
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 400px){
    .Post_details,.diary_interface{
        max-width: 350px;
    }
}
@media (min-width: 600px){
.Post_details,.diary_interface{
    max-width: 570px;
}
}
@media (min-width: 876px){
.Post_details,.diary_interface{
    max-width: 800px;
}
}
@media (min-width: 950px){
    .Post_details,.diary_interface{
        max-width: 900px;
    }
}
@media (max-width:600px){
    .Post_details,.diary_interface{
        height:240px;
    }
    .Post_details img{
        position: absolute;
        top: 40px;
    }
    .Post_details a{
      display: block;
      position: absolute;
      bottom: 10px;
      right:58%;
   }
}
.Post_details,.diary_interface{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--text-color);
    margin-top: 50px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 2rem 2px rgb(128 128 128 / 20%);
    border-radius: .5rem;
    padding:17px;
    position: relative;
}
.Post_details img{
    border-radius: 50% 50%;
}
.post_textes{
    position: absolute;
    margin: 0 0 0 180px;
    top:15px;
    justify-content: center;
    display: block;
    height: inherit;
}
.diary_interface{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    padding:16px;
    height: 220px;
}
.title_di{
    border-bottom: 2px solid rgba(119, 119, 119, 0.2);
    padding:5px;
}
.boutons a{
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: .3rem;
    padding: .8rem 1.5rem;
    background-color: rgb(20, 100, 20);
    transition: all .4s;
    color: var(--text-color);
    font-weight: 500px;
}
.borderf{
    padding:16px;
    border-bottom: 2px solid rgba(119, 119, 119, 0.2);
}

.boutons a:hover {
    background-color: rgba(119, 119, 119, 0.2);
    color: hotpink;
    border-right: 20px solid hotpink;
    transition: all .5s;
}
.boutons{
     margin: 30px 5px;
     float: right;
}

/***** css for form by pegaus03 **/

.pega_form{ 
    margin: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40rem;
    padding: 2rem 3.5rem;
    box-sizing: border-box;
    border: none;
    box-shadow: 0px 0px 2rem 2px rgb(128 128 128 / 20%);
    border-radius: .5rem;   
}
.pega_form h1{
    margin: 0 0 30px;
    padding: 0px;
    text-align: center;
}

.pega_form p a {
    color: var(--main-color);
}

.pega_form p{
   margin-top: 2rem;
   text-align: center;
   font-size: 14px;
}
.pega_form img{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50% 50% solid black;
}
.pega_form .inputBox{
    position: relative;
}
.pega_form .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 1.7rem;
    color: var(--default-color);
    margin-bottom:30px ;
    border:none;
    letter-spacing: 1px;
    outline: none;
    background: transparent;
    border-bottom: 1.7px solid rgba(119, 119, 119, 0.2);
}
.pega_form .inputBox label{
    position: absolute;
    font-size: 2rem;
    padding: 10px 0;
    color: var(--default-color);
    pointer-events:none;
    transition: .5s;
}
.inputBox input:focus~label,
.inputBox input:valid~label,
.inputBox input:empty~label {
    top:-20px;
    left:0;
    color: var(--default-color);
    font-size: 12px;
}
.pega_form button{
    margin-top: 15px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 08px 10px;
    margin-left: 6px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: inherit;
    background-color: var(--main-color);
    transition: all .3s;
    font-weight: bold;
}
.pega_form .button_form{
    text-align: center;
}
.pega_form button:hover {
    background-color: rgba(119, 119, 119, 0.2);
    color: var(--main-color);
    border-left: 10px solid var(--main-color);
    transition: all .6s;
}